.Banner{
    background-image: url(../imagens/imgNoticia.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
   font-family: poppins;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}


h2{
    margin: 0;
    font-size:70px;
    color: #fff;
    font-weight: 900;
}
p{
    margin: 0;
    font-size: 40px;
    color: #fff;
}