.Banner{
    background-image: url("../imagens/Enchente_RioGrandedoSul_Reuters_1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
   font-family: poppins;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}


.titulo_banner{
    margin: 0;
    font-size:3rem;
    color: #fff;
    font-weight: 700;
}
.subtitulo_banner{
    margin: 0;
    font-size: 2rem;
    color: #fff;
}

@media screen and (max-width: 980px){

    .Banner{
        height: 200px;
    }
    .titulo_banner{
        font-size: 3rem;
    }

    .subtitulo_banner{
        font-size: 1.2rem;
    }
}