.SectionCampanhas{
  width: 100%;
  text-align: center;
  color: black;
  margin: 50px 0px;
}
.BoxTitleCampanhas{
  margin-bottom: 50px;
}
.SubTitleCampanhas{
  font-size: 40px;
}

.subtitle{
  color: rgba(0, 0, 0, 0.70);
  font-size: 1.5rem;
  font-weight: 600;
}


.Logos{
  height: 300px;
}





@media screen and (max-width: 649px){
  .Logos{
    width: 70px;
    height: 80px;

  }
}

@media screen and (min-width: 650px){
  @media screen and (max-width: 1280px){
  
    .Logos{
      min-width: 130px;
      height: 140px;
    }
  }
  
  
}


