
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins';
    box-sizing: border-box;
}
.card_noticia{
    height: 400px;
    width: 32.5%;
    border-radius: 10px;
}

.container_video{
    height: 70%;
    width: 100%;
}

.video{
    height: 100%;
    width: 100%;
}

.titulo_noticia{
    font-weight: 600;
    margin: 0;
    color: #000000b3;
}

.noticia_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 30%;
    background-color:#FFF;
    border-radius: 0px 0px 10px 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: #f27405;
    width: 130px;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .card_noticia{
        width: 100%;
    }

    .btn{
        width: 100%;
    }
}

@media screen and (min-width: 701px) {
    @media screen  and (max-width:980px){

        .card_noticia{
          background-color: blue;
          width: 49.5%;
          width: 49.5%;
        }
    
        .btn{
            width: 100%;
        }
    
    }
}