.EstendaMao{
    width: 100%;
    height: auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    .fundo{
       width: 100%;
        height:auto;
        background-color:#276E85;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
        .estenda{
            font-size: 2.5em;
            font-weight: 500;
        }
        .sub{
            font-size: 1em;
            font-weight: 300;
            margin-bottom: 25px;
        }
    
        .comp{
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
           gap: 30px;
            gap:20px;            
            .secao{
                position: relative;
                width: 470px;
                max-width: 500px;
                height: 300px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                cursor:pointer ;
                overflow: hidden;
                
                .BoxImg{
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    border-radius: 28px;
                    overflow: hidden;
                    
                }
                .BoxImg .img{
                    width: 100%;
                    height: 100%;
                    -webkit-transition: -webkit-transform .5s ease;
                    transition: transform .5s ease;  
                    object-fit: cover;
                    
                }
                .BoxImg:hover .img{
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                 }

            }

            .text{
                position: relative;
                z-index: 2;
                width: 200px;
                text-align: center;
                font-size: 2em;
                font-weight: 700;

            }

        }
        
    }
    .ver_mais{
        margin-top: 30px;
        font-size: 25px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 1024px) {
           
    .EstendaMao .fundo .comp .secao{
        position: relative;
        width: 330px;
        max-width: 500px;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor:pointer ;
        overflow: hidden;
    }
}

@media screen and (max-width: 820px) {
           
    .EstendaMao .fundo .comp .secao{
        position: relative;
        width: 270px;
        max-width: 500px;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor:pointer ;
        overflow: hidden;
    }
}