.doe{
    width: 100%;
    height: 450px;
    background-image: url('../imagens/home/Nav.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 85px;

}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.unidos{
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
}
.resp{
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    
}
.dor{
    color:#F27405;
    font-weight: 600;
}
.verde{
    color:#4c9c8d;
    font-weight: 600;
}
.doe_aqui{
    width: 150px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-right: 10px;

    border: none;
    border-radius: 15px;
    background-color: #27856D;

    font-size: 1.3em;
    color:#f0f0f0;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s all;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.link_governo {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.doe_aqui:hover{
    transform: translateX(-5px);
}

    @media only screen and (max-width:971px){
        .unidos{
            text-transform: uppercase;
            font-size: 2rem;
            text-align: center;
        }
        .resp{
            font-size: 1em;
            font-weight: 300;
            text-align: center;
        }

        .button-container{
            flex-direction: column;
            gap: 20px;
        }
    }
