footer{
    margin: 0 auto;
    width: 100%;
    height: 300px;
    margin-top: 60px;
    color: #fff;
}

.Container{
    width: 100%;
    height: 100%;
    background-color: #3592B0;
    border-radius: 80px 80px 0px 0px;

    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.SubTitle{
    font-weight: 500;
    font-size: 22px;
}
.ListFooter{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 200px;
}
.ListFooter li{
  font-size: 16px;
  cursor: pointer;
  transition: 0.8s all;
}
.ListFooter li:hover{
    transform:translateX(20px);
}
.ListFooter li a{
    font-weight: 300;
}
.BoxImage{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
.BoxImage div{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
a:hover{
    transform:translateX(10px);
}
a{
    transition: 0.8s all;
}
.BoxImage .logo{
   width: 100%;
   height: 100%;
}
.Copy{
    background-color: #4C9C8D;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
}

@media screen and (max-width: 767px) {
    .Container{
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        border-radius: 50px 50px 0 0;
    }
    .Container div{
        width: 65%;
        justify-content: center;
    }
    .ListFooter{
        height: auto;
    }
    .ResponsiveRoll{
        background-color: white;
        height: 5px;
        padding: 0 50%;
        margin: 20px 0 ;

    }
    .BoxImage{
        height: 50px;
        width: 50px;
        margin-top: 30px;

        display: flex;
        flex-direction: row;
    }
    .BoxImage div{
        height: 25px;
    }
    .logo{
        max-width: 120px;
        height: 100px;
    }
    footer{
        height: auto;
    }
}