.conteudo {
    width: 100%;
    height: auto;
    margin: auto;
}

.container_conteudo{
    max-width: 1300px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}
.titulo {
    font-size: 2rem;
    margin: 0px;
    font-weight: 700;
    padding: 0px;
}

.destaque {
    color: #276E85;

}

.subtitulo {
    margin: 0;
    font-weight: 400;
}

.container_noticias {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.card_noticia {
    height: 300px;
    width: 470px;
    background-color: blue;
    border-radius: 10px;
}

.noticia_destaque {
    height: 300px;
    width: 75%;
    object-fit: cover;
    background-color: blue;
    border-radius: 10px
}

.container_fake{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    margin-top: 100px;
}

.fake_title{
    color: red;
}



@media screen and (max-width:700px) {

    .container_noticias {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container_titulo{
        text-align: center;
    }

}