.noticia_destaque{
    height: 400px;
    width: 65.5%;
    border-radius: 10px;
}

.container_video{
    height: 70%;
    width: 100%;
    background-color: green;
}

.img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.titulo_noticia{
    font-weight: 600;
    margin: 0;
    color: #000000b3;
}

.noticia_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 30%;
    background-color:#FFF;
    border-radius: 0px 0px 10px 10px;
    gap: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: #27856D;
    width: 130px;
    color: #fff;
}

.subtitulo{
    margin: 0;
    color: #000;
}

    @media screen  and (max-width:980px){

        .noticia_destaque{
          background-color: blue;
          width: 100%;
          height: 420px;
          margin-bottom: 60px;
        }

        .btn{
            width: 100%;
        }

    
    }
