.conteudo{
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin: auto;
    
}

.titulo{
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
}

.subtitulo{
    margin: 0;
    font-weight: 400;
}

.container_noticias{ 
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    gap: 10px;
    height: auto;
}

.card_noticia{
    height: 300px;
    width: 470px;
    background-color: blue;
    border-radius: 10px;
}

.noticia_destaque{
    height: 300px;
    width: 950px;
    background-color: blue;
    border-radius: 10px
}