aside{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px 0px;
}
.BtnMostrarMais{
    background-color: red;
}
.titulo{
    margin-top: 30px;
}

.title{
    color: #F27405 ;
}
.SubTitleNoticias{
    color: rgba(0, 0, 0, 0.70);
    font-size: 1.5rem;
    font-weight: 600;
}
.ContainerNoticias{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    margin-top: 30px;
    width: 100%;
    height: auto;
    max-width: 1400px;
    
}
.LargeNoticia1{
    grid-area: 1 / 1 / span 1 / span 2;
}
.StyleNoticia{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgba(0, 0, 0, 0.70);
    height: 100%;
    
}
.BoxImg{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
}
.StyleNoticia .BoxImg img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;  
} 
.StyleNoticia:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }
.StyleNoticia p{
    font-size: 14px;
    padding: 20px;
}
.BtnMostrarMais{
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    background-color: #2a6cce;
    margin: 30px 0px;
    color: #FFF;
    font-weight: 600;
    transition: 1s all;
    cursor: pointer;
}
.BtnMostrarMais:hover{
    background-color: #FFF;
    color: #F27405;
}

@media screen and (max-width:700px) {

    .titulo{
        text-align: center;
    }

}
 
 


